.navbar {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light Theme */
.navbar-light {
  background-color: #f8f9fa;
  color: #212529;
}

.navbar-light .navbar-brand,
.navbar-light .nav-link {
  color: #212529;
}

.navbar-light .nav-link:hover {
  color: #007bff;
}

.navbar-light .nav-link.active {
  color: #007bff;
  font-weight: bold;
}

/* Dark Theme */
.navbar-dark {
  background-color: #343a40;
  color: #f8f9fa;
}

.navbar-dark .navbar-brand,
.navbar-dark .nav-link {
  color: #f8f9fa;
}

.navbar-dark .nav-link:hover {
  color: #80bdff;
}

.navbar-dark .nav-link.active {
  color: #80bdff;
  font-weight: bold;
}

/* Button styles */
.navbar-dark .btn-outline-secondary {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.navbar-dark .btn-outline-primary {
  color: #80bdff;
  border-color: #80bdff;
}

.navbar-dark .btn-outline-success {
  color: #28a745;
  border-color: #28a745;
}

.navbar-dark .btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}
.pos{
  margin: 10px;
  position: relative;
}